@page
@model GymMaxim.Pages.Enrollments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Enrollment.EnrollmentID" />
            <div class="form-group">
                <label asp-for="Enrollment.Date" class="control-label"></label>
                <input asp-for="Enrollment.Date" class="form-control" />
                <span asp-validation-for="Enrollment.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.TotalPrice" class="control-label"></label>
                <input asp-for="Enrollment.TotalPrice" class="form-control" />
                <span asp-validation-for="Enrollment.TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.Activity" class="control-label"></label>
                <select asp-for="Enrollment.ActivityID" class="form-control" asp-items="ViewBag.ActivityID">
                    <option>select activity</option>
                </select>
                <span asp-validation-for="Enrollment.ActivityID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.Customer" class="control-label"></label>
                <select asp-for="Enrollment.CustomerID" class="form-control" asp-items="ViewBag.CustomerID">
                    <option>select customer</option>
                </select>
                <span asp-validation-for="Enrollment.CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
