@page
@model GymMaxim.Pages.Trainers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Trainer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Trainer.FirstName" class="control-label"></label>
                <input asp-for="Trainer.FirstName" class="form-control" />
                <span asp-validation-for="Trainer.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.LastName" class="control-label"></label>
                <input asp-for="Trainer.LastName" class="form-control" />
                <span asp-validation-for="Trainer.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.IdentityCard" class="control-label"></label>
                <input asp-for="Trainer.IdentityCard" class="form-control" />
                <span asp-validation-for="Trainer.IdentityCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Gender" class="control-label"></label>
                <input asp-for="Trainer.Gender" class="form-control" />
                <span asp-validation-for="Trainer.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Email" class="control-label"></label>
                <input asp-for="Trainer.Email" class="form-control" />
                <span asp-validation-for="Trainer.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.PhoneNumber" class="control-label"></label>
                <input asp-for="Trainer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Trainer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.DateOfBirth" class="control-label"></label>
                <input asp-for="Trainer.DateOfBirth" class="form-control" />
                <span asp-validation-for="Trainer.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.City" class="control-label"></label>
                <input asp-for="Trainer.City" class="form-control" />
                <span asp-validation-for="Trainer.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.Street" class="control-label"></label>
                <input asp-for="Trainer.Street" class="form-control" />
                <span asp-validation-for="Trainer.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trainer.HomeNumber" class="control-label"></label>
                <input asp-for="Trainer.HomeNumber" class="form-control" />
                <span asp-validation-for="Trainer.HomeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
