html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-custom {
    background-color: #cccccc !important; /* Custom navbar background color */
}

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: #ffffff !important; /* White text */
    }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1pr));
    gap: 20px;
    padding: 20px;
    background-color: lightblue;
}

.grid-item {
        text-align: center;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
}